<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtocolTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XcodeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410378D31C8A858C0064FCD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410378F41C8A873A0064FCD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41EE364B1C87F4740091844C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41EE367C1C87F4F20091844C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41EE369C1C8817110091844C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
